---
import { getCollection } from 'astro:content';
import Card from "../../components/common/Card.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/pages/tags.scss';

const posts = await getCollection('posts');
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
---

<BaseLayout title='Tags'>
    <div class='tags-container'>
        <p class='tags-title'>所有标签</p>
        {tags.map((tag) => (
            <Card title={tag} class='tags-card'>
                <a href={`/tags/${tag}`} class='tag'>
                    {tag}
                </a>
            </Card>
        ))}
    </div>
</BaseLayout>
