---
import Card from '../components/common/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import FriendLink from '../components/FriendLink.astro';
import '../styles/pages/about.scss';

const myInfo = {
  name: 'M1saK1',
  bio: 'From 杭州电子科技大学，学习Web开发中...',
  interests: ['Coding', 'Rhythm Game', 'TCG', 'Idol'],
};
---

<BaseLayout>
  <Card title=`你好我是${myInfo.name}` subtitle='About' class='about-card'>
    <p class='about-bio'>{myInfo.bio}</p>
      <h3 class='about-heading'>兴趣爱好</h3>
        <ul class='about-interests'>
          {myInfo.interests.map((interest) => (
            <li>{interest}</li>
          ))}
        </ul>
  </Card>
  <FriendLink />
</BaseLayout>
