---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../global.css';
const Name = 'M1saK1';
const pageTitle = 'About Me';

const myInfo = {
  name: 'M1saK1',
  bio: 'A passionate developer and a student from HDU.',
  interests: ['coding', 'gaming', 'maimaidx', 'collecting figures'],
};
---

<html lang='zh-cn'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content='Astro' />
    <title>{pageTitle}</title>
  </head>
  <body class='flex flex-col min-h-screen'>
    <Navigation />
    <main class='flex-1'>
      <h1>About Me</h1>
      <p>Welcome to my blog! I'm {myInfo.name}, {myInfo.bio}</p>
      <p>I love {myInfo.interests.join(', ')}.</p>
      <p>Now I'm learning Web full-stack development and web security. Hope you enjoy my blog!</p>
      <p>Made with Astro</p>
    </main>
    <Footer />
  </body>
</html>
