---
const Name = 'M1saK1';
const pageTitle = 'About Me';
---

<html lang='zh-cn'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content='Astro' />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href='/'>Home</a>
    <br />
    <a href='/about'>About</a>
    <br />
    <a href='/blog'>Blog</a>
    <h1>About Me</h1>
    <p>Welcome to my blog! I'm {Name}, a passionate developer and a student from HDU.</p>
    <p>I love exploring new technologies and sharing my knowledge with the community.</p>
    <p>Now I'm learning Full-stack Development. Hope you enjoy my blog!</p>
    <p>Made with Astro</p>
</body>
</html>