---
import '../global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html>
    <head>
        <meta charset='UTF-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content='Astro Blog' />
        <title>M1saK1 Blog</title>
    </head>
    <body class='flex flex-col min-h-screen'>
        <Navigation />
        <main class='flex-1'>
            <h1>Blog Posts</h1>
            <p>哈基米那没路多</p>
            <ul>
                <li><a href='/posts/post-2'>最近的一些动态和想法</a></li>
                <li><a href='/posts/post-1'>Astro学习笔记</a></li>
            </ul>
        </main>
        <Footer />
    </body>
</html>
