<html>
    <head>
        <meta charset='UTF-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content='Astro Blog' />
        <title>M1saK1 Blog</title>
    </head>
    <body>
        <a href='/'>Home</a>
        <br />
        <a href='/about'>About</a>
        <br />
        <a href='/blog'>Blog</a>
        <h1>Blog Posts</h1>
        <p>Welcome to my blog! Here are some of my latest posts:</p>
        <ul>
            <li><a href='/posts/post-2'>最近的一些动态和想法</a></li>
            <li><a href='/posts/post-1'>Astro学习笔记</a></li>
        </ul>
    </body>
</html>