---
import Card from '../components/Card.astro';
import banner2025 from '../assets/2025.jpg';
import astroNotes from '../assets/astro.png';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='哈基米'>
    <Card title='2025' subtitle='Recent Thoughts' class='w-3.5/4 max-w-3xl mx-auto mt-10'>
        <a href='/posts/post-2'>
            <img src={banner2025.src} alt='2025' class='w-full h-auto rounded-lg mb-4' />
        </a>
            <p>柳暗花明又一村</p>
    </Card>
    <Card title='Astro学习笔记' subtitle='Learning Notes' class='w-3.5/4 max-w-3xl mx-auto mt-10'>
        <a href='/posts/post-1'>
            <img src={astroNotes.src} alt='Astro Notes' class='w-full h-auto rounded-lg mb-4' />
        </a>
            <p>Astro学习笔记</p>
    </Card>
</BaseLayout>
