---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogList from '../components/BlogList.astro';
import Self from '../components/Self.astro';
---

<BaseLayout>
	<section class='mx-auto flex w-full max-w-6xl flex-col gap-8 px-4 pb-16 pt-8 sm:px-6 lg:flex-row lg:items-stretch lg:gap-16 lg:pb-20 lg:pt-12 '>
		<div class='lg:w-[320px] xl:w-[360px]'>
			<div class='lg:sticky lg:top-1/2'>
				<div class='lg:-translate-y-1/2 lg:transform'>
					<Self class='w-full lg:mt-0' />
				</div>
			</div>
		</div>
		<div class='flex-1'>
			<div class='flex h-full flex-col gap-8 pb-4'>
				<BlogList class='space-y-8' />
			</div>
		</div>
	</section>
</BaseLayout>
