---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogList from '../components/BlogList.astro';
import Self from '../components/Self.astro';
import '../styles/pages/index.scss';
---

<BaseLayout>
	<div class='index-container'>
		<div class='index-panel'>
			<section class='index-layout'>
				<div class='index-sidebar'>
					<div class='index-sidebar__sticky'>
						<div class='index-sidebar__inner'>
							<Self class='index-sidebar__self' />
						</div>
					</div>
				</div>
				<div class='index-content'>
					<div class='index-content__inner'>
						<BlogList class='index-content__list' />
					</div>
				</div>
			</section>
		</div>
	</div>
</BaseLayout>
