---
import Card from "./common/Card.astro";
import blogs from "../scripts/utils";
import '../styles/components/direct-to-blog.scss';

interface Props {
	class?: string;
	skip?: number;
	limit?: number;
}

const { class: wrapperClass, skip = 0, limit = 5 } = Astro.props as Props;
const recentBlogs = blogs.slice(skip, limit ? skip + limit : undefined);
const cardClass = wrapperClass ?? 'direct-to-blog--default';
---
<Card title='Recent Articles' subtitle='Direct to Blog' class={cardClass}>
	{recentBlogs.length ? (
		<ul class='direct-to-blog__list'>
			{recentBlogs.map((blog) => (
				<li>
					<a class='direct-to-blog__link' href={blog.link}>
						{blog.title}
					</a>
				</li>
			))}
		</ul>
	) : (
		<p class='direct-to-blog__empty'>暂时没有更多文章了。</p>
	)}
</Card>
