---
import Social from "./Social.astro";

---

<footer class="bg-gray-800 text-white p-4 text-center">
	<Social platform="github" username="Misaki14987" />
	<Social platform="x" username="LianiuMis" />
	<Social platform="bilibili" username="M" />
	<Social platform="rss" username="M1saK1" />
  <p>&copy; {new Date().getFullYear()} M1saK1. All rights reserved.</p>
</footer>
