---
import avator from "../assets/taffy.jpg";
import Social from "./Social.astro";
import '../styles/components/self.scss';

interface Props {
	class?: string;
}

const { class: wrapperClass = "" } = Astro.props as Props;
---

<div class={`self ${wrapperClass}`}>
  <img src={avator.src} alt="Me" class="self__avatar" />
  <div class="self__name">M1saK1</div>

  <dl class="self__field">
    <dt>role</dt>
    <dd>frontend/react</dd>
    <dt>lang</dt>
    <dd>rust learning</dd>
    <dt>mood</dt>
    <dd>black sheep</dd>
    <dt>signal</dt>
    <dd>online</dd>
  </dl>

  <div class="self__social">
    <Social platform="github" username="Misaki14987" />
    <Social platform="x" username="LianiuMis" />
    <Social platform="bilibili" username="M1saK1" />
    <Social platform="rss" username="M1saK1" />
  </div>
</div>
