---
import avator from "../assets/taffy.jpg";
import '../styles/components/self.scss';

interface Props {
  class?: string;
}

const { class: wrapperClass = "" } = Astro.props as Props;
---

<div class={`identity ${wrapperClass}`}>
  <div class="identity__head">
    <div class="identity__label">IDENTITY / 001</div>
    <div class="identity__menu">...</div>
  </div>

  <div class="identity__avatar">
    <img src={avator.src} alt="M1sak1 avatar" />
  </div>

  <div class="identity__name">M1saK1</div>

  <dl class="identity-fields">
    <dt>role</dt>
    <dd>frontend/react</dd>
    <dt>lang</dt>
    <dd>rust learning</dd>
    <dt>mood</dt>
    <dd>black sheep</dd>
    <dt>signal</dt>
    <dd><span class="online">online</span></dd>
  </dl>

  <div class="identity-links">
    <a href="https://github.com/Misaki14987" target="_blank" rel="noopener noreferrer">[github]</a>
    <a href="https://x.com/LianiuMis" target="_blank" rel="noopener noreferrer">[x]</a>
    <a href="https://space.bilibili.com/M1saK1" target="_blank" rel="noopener noreferrer">[bili]</a>
    <a href="/rss.xml">[rss]</a>
  </div>
</div>
