---
import Card from "./common/Card.astro";
import avator from "../assets/taffy.jpg";
---
<Card title="" class="max-w-3xl mx-auto mt-10">
<div class="text-center">
    <img src={avator.src} alt="Me" class="w-32 h-32 rounded-full mx-auto mb-4" />
    <a class='text-pink-300 font-bold text-2xl'>M1saK1</a>
  <p class="mb-4">20岁，事一个学生,From HDU。学习Web开发中...</p>
    <ul class='list-disc list-inside mt-4'>    
    <li class=''>Frontend/React</li>
    <li class=''>Learning Web Security...</li>
    <li class=''>Learning Rust...</li>
  </ul>
    </div>
</Card>