---
import '../../styles/components/card.scss';

const { title, subtitle, class: additionalClasses = '' } = Astro.props;
---
<section class={`card ${additionalClasses}`}>
  <h2 class="card__title">{title}</h2>
  {subtitle && <p class="card__subtitle">{subtitle}</p>}
  <slot />
</section>
