---
import '../../styles/components/navigation.scss';
---

<header class="site-header">
  <div class="header-inner">
    <a class="site-title" href="/">
      M1sak1 Blog — yodelist.icu
    </a>

    <nav class="nav">
      <a class="active" href="/">/home</a>
      <a href="/about">/about.me</a>
      <a href="/tags">/tags</a>
    </nav>
  </div>
</header>
