---
import '../global.scss';
import '../styles/layouts/base-layout.scss';
import Navigation from '../components/common/Navigation.astro';
import Background from '../components/common/Background.astro';

const {
    title = 'M1saK1 Blog',
    description,
    bodyClass = '',
    hideBackground = false,
    showNavigation = true,
    showFooter = true,
} = Astro.props;
---

<html lang='zh-cn'>
	<head>
		<meta charset='UTF-8' />
		<link rel='icon' type='image/svg+xml' href='/icons/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content='Astro Blog' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Fira+Code:wght@400;500&display=swap' rel='stylesheet' />
		<link href='https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.css' rel='stylesheet' />
		<title>{title}</title>
		{description && <meta name='description' content={description} />}
		<slot name='head' />
	</head>
	<body class={`body ${bodyClass}`}>
		{!hideBackground && <Background />}
		{showNavigation && (
			<header class='header'>
				<Navigation />
			</header>
		)}
		<main class='main'>
			<slot />
		</main>
	</body>

</html>
