---
import '../global.css';
import Navigation from '../components/common/Navigation.astro';
import Footer from '../components/common/Footer.astro';
import Background from '../components/common/Background.astro';

const {
    title = 'M1saK1 Blog',
    description,
    bodyClass = '',
    hideBackground = false,
    showNavigation = true,
    showFooter = true,
} = Astro.props;
---

<html lang='zh-cn'>
	<head>
		<meta charset='UTF-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content='Astro Blog' />
		<title>{title}</title>
		{description && <meta name='description' content={description} />}
		<slot name='head' />
	</head>
	<body class={`relative flex min-h-screen flex-col ${bodyClass}`}>
		{!hideBackground && <Background />}
		{showNavigation && (
			<header class='relative z-10 w-full'>
				<Navigation />
			</header>
		)}
		<main class='relative z-10 flex-1 w-full'>
			<slot />
		</main>
		{showFooter && (
			<footer class='relative z-10 w-full'>
				<Footer />
			</footer>
		)}
	</body>
	
</html>
